
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% menu.forEach(vehiculo => { %>

            <li>
                <a href="/<%=vehiculo.tipo %>"><%=vehiculo.tipo %></a>
            </li>
        <% }) %>
        
    </ul>
</nav>